# dependencies
node_modules

# bun
bun.lock

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv
.env
.env.*
!.env.example

# caches
.eslintcache
.cache
*.tsbuildinfo

# editors
.idea
.DS_Store
